<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">Test App</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/show/{{request.session.id}}">Profile</a>
                    </li>
                </ul>
                <a class="nav-link my-2 my-sm-0" href="/logoff">Log off</a>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h3 class="d-inline-block">Manage Users</h3>
        <a href="/users/new" class="btn btn-primary mb-5 float-right">Add new</a>
        <table class="table border">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created At</th>
                    <th scope="col">User Level</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>
                        <a href="/users/show/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    {% if user.level == 9%}
                    <td>admin</td>
                    {% else %}
                    <td>normal</td>
                    {% endif %}
                    <td>
                        <a href="/users/edit/{{user.id}}">edit</a>
                        <a href="#">remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>