<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <title>Home Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Test App</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
                <a class="nav-link my-2 my-sm-0" href="/signin">Sign In</a>
            </div>
        </div>
    </nav>
    <div class="container mt-3 bg-light p-4 pb-3">
        <h1>Welcome to the Test</h1>
        <h4 class="pb-3">We're going to build a cool application using a MVC framework! This application was built with the Village88 Folks</h4>
        <button type="button" class="btn btn-primary mb-5">Start</button>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm p-3">
                <h5>Manage Users</h5>
                <p>Using this applications you'll learn how to add, remove, and edit users for the application</p>
            </div>
            <div class="col-sm p-3">
                <h5>Leave Messages</h5>
                <p>Users will be able to leave a message to another user using the application</p>
            </div>
            <div class="col-sm p-3">
                <h5>Edit User Information</h5>
                <p>Admins will be able to edit another users information (email address, first name, last name, etc)</p>
            </div>
        </div>
    </div>
</body>

</html>